.main {
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ddd;
  margin-bottom: 30px;
  padding: 50px;
  border-radius: 10px;
}

.title {
  text-align: center;
  color: #141414;
  margin: 0;
  margin-bottom: 30px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: #141414;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  color: #fff;
  padding: 10px;
}

.label {
  margin-bottom: 5px;
}

.input {
  font-size: 1em;
  padding: 5px;
  border: 1px solid #cecece;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.notLogin {
  font-size: 20px;
  font-weight: bold;
}
